*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 163);

}
.box{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    background-color: white;
    padding: 0px 20px 0px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    

}
.box1{
    display: flex;
    height: 25%;
    background-color: white;
    justify-content: center;
    align-items:center;
    color: rgb(32, 32, 163);
    font-size:x-large;

}
.box2{
    display: flex;
    height: 15%;
    width: 100%;
    background-color: white;
    justify-content: center;
    text-align: center;

}
.box3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    height: 100px;
    width: 100%;
    border: 4px solid black;
    
}

.box4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 60%;
    margin:50px ;
    color: white;
    background-color: rgb(32, 32, 163);
    border-radius: 7px;

}